@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/*---Media Queries --*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: inherit;
}

@media (min-width: 992px) {
  .leaves-home {
    width: 250px;
    margin-bottom: 20px;
  }

  .logo {
    width: 220px;
  }

  .phrase-home {
    font-size: 35px;
    line-height: 45px;
  }

  .carousel-caption {
    width: 550px;
    z-index: 10;
    color: #fff;
    text-align: left;
    top: 40%;
    left: 10%;
    bottom: auto;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}

@media (max-width: 991.98px) {
  .leaves-home {
    width: 190px;
    margin-bottom: 15px;
  }

  .logo {
    width: 200px;
  }

  .phrase-home {
    font-size: 30px;
    line-height: 40px;
  }

  .carousel-caption {
    width: 400px;
    z-index: 10;
    color: #fff;
    text-align: left;
    top: 35%;
    left: 10%;
    bottom: auto;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}

@media (max-width: 767.98px) {
  .carousel-caption {
    width: 400px;
    z-index: 10;
    color: #fff;
    text-align: left;
    top: 35%;
    left: 10%;
    bottom: auto;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }

  .leaves-home {
    width: 190px;
    margin-bottom: 20px;
  }

  .logo {
    width: 200px;
  }

  .pandemia {
    display: flex;
  }

  .pandemia > .content-2 {
    order: -1;
  }

  .phrase-home {
    font-size: 25px;
    line-height: 35px;
  }

  .section-top {
    display: flex;
  }

  .section-top > .image-top {
    order: -1;
  }
}

@media (max-width: 575.98px) {
  .carousel-caption {
    width: 200px;
    z-index: 10;
    color: #fff;
    text-align: left;
    top: 50%;
    left: 8%;
    bottom: auto;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }

  .leaves-home {
    width: 130px;
    margin-bottom: 10px;
  }

  .logo {
    width: 180px;
  }

  .phrase-home {
    font-size: 16px;
    line-height: 24px;
  }
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  background-color: #000;
}

/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}

footer {
  background-color: #fff;
  color: #492b28;
  line-height: 22px;
}

ul,
ol,
li {
  list-style: none;
}

ul {
  padding-inline-start: 0;
  margin-bottom: 0.5rem;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fixed {
  background-image: url("img/mac.png");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

.carousel-caption {
  text-align: left;
}

.contact-icon {
  margin-bottom: 0.5rem;
}

.page-title {
  font-weight: ;
}

.page-title::before {
  content: "";
  display: inline-block;
  background-image: url(img/icons/leaves.svg);
  background-size: 33px 40px;
  width: 33px;
  height: 40px;
  margin-right: 8px;
}

.phrase-home {
  font-family: "Fira Sans", sans-serif;
}

.phrase-bold {
  font-weight: 600;
}

.picture-home {
  opacity: 0.7;
}

.section-top {
  background-color: #fff;
}

.social-icons {
  text-align: left;
}

.social-icon:not(:first-child) {
  margin-left: 20px;
}

.social-icon:first-child {
  margin-right: 5px;
}

.social-icon {
  display: inline-block;
}

.social-icon > a > img,
.contact-icon {
  height: 25px;
}

.contact-icon-zap {
  height: 30px;
}

.terms-conditions a {
  color: #492b28;
}

.wrapper {
  padding: 0 2em;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
